html, body, #root {
    height: 100%;
    margin: 0;
    background: #444CF7;
}

.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search {
    font-size: 18px;
    outline: none;
    padding: 20px 7%;
    margin-bottom: 5%;
    border-radius: 20px;
    border: 4px solid #444cf7;
    background: rgba(250, 250, 250, 1);
    box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
}

.search-label {
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
}

@media only screen and (max-width: 600px) {
    .search {
        padding: 20px 15%;
    }
}